@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: interface, "Helvetica Neue", helvetica, sans-serif;
}

 span{
    font-size: 20px;
    padding-left: 10px;
    padding-top: 5px;
    color:#8892b0;
    font-weight: 300;
    display: inline-block;
    line-height: 46px;
    display: none;

}
 span.text-in{
	display: block;
	animation: textIn 0.12s ease;
}
 span.text-out{
	animation: textOut 0.12s ease;
}
 
 span.hidden {
  display: none;
}
.search-container {
    background: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 100%);
    overflow: hidden;}

.search-container::before {
  animation: 2s linear 0s infinite normal none running CNual;
    background-image: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 50%, rgb(153, 51, 255) 100%);
    background-size: 400%;
    //background-position: 0% 100%;
    content: "";
    position: absolute;
    inset: 0px;
    //rotate: -45deg;
}

.lltPqq {
    --x: 0px;
    margin: 0px;
    background: linear-gradient(to right, rgb(0, 204, 255), rgb(153, 51, 255) 31%, rgb(230, 70, 182) 52%, rgb(255, 249, 170) 77%, rgb(0, 255, 153), rgb(0, 204, 255)) 0% 50% / 200% 50%;
    display: flex;
    justify-content: space-around;
    transform: translateZ(0px);
    background-position: var(--x);
}

.eiCihZ {
    cursor: pointer;
    float: left;
    height: 36px;
    border-right: 4px solid rgb(18, 18, 18);
    position: relative;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    align-items: center;
    text-transform: capitalize;
}
.eiCihZ::before {
    content: "";
    position: absolute;
    background-color: rgb(18, 18, 18);
    opacity: 1;
    inset: 0px -1px 4px;
    z-index: 1;
    transition: opacity 0.35s ease 0s;
}
.eiCihZ:hover {
    background-color: transparent;
    transition: background-color 0.25s ease 0s;
}
.eiCihZ:hover::before {
    opacity: 0.3;
}
.eiCihZ::before {
    content: "";
    position: absolute;
    background-color: rgb(18, 18, 18);
    opacity: 1;
    inset: 0px -1px 4px;
    z-index: 1;
    transition: opacity 0.35s ease 0s;
}
.hNCazl {
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    height: 100%;
    position: relative;
    z-index: 2;
    -webkit-font-smoothing: antialiased;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 15px;

}
.xxnx {
 border-radius: 4px;
 color: #fff;
 cursor: pointer;
 padding: 15px 30px;
 font-size: 18px;
 font-weight: bold;
 letter-spacing: 1px;
 border: none;
}

.xxnx:hover {
 background-image: linear-gradient(90deg, #53cbef 0%, #dcc66c 50%, #ffa3b6 75%, #53cbef 100%);
 animation: slidernbw 5s linear infinite;
 color: #000;
}

@keyframes slidernbw {
 to {
  background-position: 20vw;
 }
}
@keyframes CNual {
    to {
        background-position: -12vw;
    }
}

@keyframes textIn{
	0%{
		transform: translateY(30%);
	}
	100%{
		transform: translateY(0%);
	}
}
@keyframes textOut{
	0%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(-80%);

	}
}





